<nz-card id="card"
         [nzBorderless]="false"
         [nzHoverable]="true"
         (click)="displayButtons()"
>
  <div class="card-container">
    <svg class="shape" xmlns="http://www.w3.org/2000/svg" id="SvgjsSvg1091" viewBox="0 0 512 512" version="1.1">
      <path d="m485.291 129.408-224-128a10.645 10.645 0 0 0-10.581 0l-224 128a10.665 10.665 0 0 0-5.376 9.259v234.667c0 3.819 2.048 7.36 5.376 9.259l224 128c1.643.939 3.456 1.408 5.291 1.408s3.648-.469 5.291-1.408l224-128a10.665 10.665 0 0 0 5.376-9.259V138.667a10.668 10.668 0 0 0-5.377-9.259z" fill="url(&quot;#SvgjsLinearGradient1092&quot;)"></path>
    </svg>
  </div>
</nz-card>

<div class="actions-container" *ngIf="showButtons">
  <ul class="actions">
    <!-- <li><span nz-icon nzType="setting"></span></li>
     <li><span nz-icon nzType="edit"></span></li>-->
    <li><span nz-icon nzType="node-index"
              (click)="onClickDisplayConnectionModal()"
              nz-tooltip
              nzTooltipTitle="Manage connections"
    ></span></li>
    <li><span nz-icon nzType="info"
              (click)="onClickDisplayEditModal()"
              nz-tooltip
              nzTooltipTitle="Show informations"
    ></span></li>
    <li><span nz-icon nzType="delete"
              (click)="onClickDelete()"
              nz-tooltip
              nzTooltipTitle="Delete"
    ></span></li>
  </ul>
</div>

