<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  (nzOnCancel)="onClickHideModal()"
  (nzOnOk)="validateForm()"
  [nzWidth]="550"
>
  <ng-template #modalTitle>Informations about the step :</ng-template>

  <ng-template #modalContent>
    <form nz-form [formGroup]="etapeForm" >
      <div class="row"
           nz-row
      >
        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label><strong>Category</strong>&nbsp;</nz-form-label>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="10">
          <nz-form-item>
            <nz-form-control nzErrorTip="This field is required">
              <nz-select formControlName="categorie" nzShowSearch nzAllowClear nzPlaceHolder="Please select the category"
                         [nzLoading]="categories.length==0"
              >
                <nz-option *ngFor="let cat of categories" [nzValue]="cat.idCategorie" [nzLabel]="cat.nom"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="3" [nzOffset]="1">
          <nz-form-item>
            <nz-form-label><strong>Order&nbsp;</strong></nz-form-label>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
            <nz-form-item>
              <nz-input-number formControlName="ordre" [nzMin]="1" [nzStep]="1"></nz-input-number>
            </nz-form-item>
        </div>
      </div>
      <div nz-row
           class="row"
      >
        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label ><strong>Description&nbsp;</strong></nz-form-label>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="18">
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="descriptionErrorTpl">
              <nz-textarea-count class="text-area">
                <textarea formControlName="description" nz-input rows="2" placeholder="Description..."></textarea>
                <ng-template #descriptionErrorTpl let-control>
                  @if (control.errors?.['required']) {
                    Please fill in the description field
                  }
                  @if (control.errors?.['maxlength']) {
                    Please do not exceed 255 characters
                  }
                </ng-template>
              </nz-textarea-count>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <!--<div nz-row [nzGutter]="24" class="row">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label>Status</nz-form-label>
            <nz-form-control nzErrorTip="This field is required">
              <nz-select formControlName="statutEtape">
                <nz-option nzValue="Commencée" nzLabel="Started"></nz-option>
                <nz-option nzValue="Pas encore commencée" nzLabel="Not started yet"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>-->
      <div nz-row class="row">
        <div nz-col [nzSpan]="7">
          <nz-form-item>
            <nz-form-label><strong>Estimated duration</strong>&nbsp;</nz-form-label>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="3">
          <nz-form-control>
            <nz-input-number formControlName="dureeEstimee" [nzMin]="0" [nzStep]="1"></nz-input-number>
          </nz-form-control>
        </div>
        <div nz-col [nzSpan]="12" [nzOffset]="2">
          <nz-form-control nzErrorTip="This field is required">
            <nz-radio-group formControlName="radioDureeEstimee" >
              <label nz-radio nzValue="H">Hour<span>(s)</span></label>
              <label nz-radio nzValue="D">Day<span>(s)</span></label>
              <label nz-radio nzValue="M">Month<span>(s)</span></label>
            </nz-radio-group>
          </nz-form-control>
        </div>
      </div>
      <div nz-row class="row">
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label><strong>Is this a</strong>&nbsp;</nz-form-label>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="16">
          <nz-form-control nzErrorTip="This field is required">
            <nz-radio-group formControlName="radioFIE">
              <label nz-radio nzValue="F">Initial</label>
              <label nz-radio nzValue="I">Intermediate</label>
              <label nz-radio nzValue="E">Final</label>
            </nz-radio-group>
          </nz-form-control>
        </div>
      </div>
      <div nz-row class="row"
      >
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label><strong>To be paid&nbsp;</strong></nz-form-label>
          </nz-form-item>
        </div>
        <div nz-col>
          <nz-form-control nzErrorTip="This field is required">
            <nz-radio-group formControlName="radioPaid">
              <label nz-radio nzValue="Y">Yes</label>
              <label nz-radio nzValue="N">No</label>
            </nz-radio-group>
          </nz-form-control>
        </div>
      </div>
      <div nz-row class="row"
      >
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-control nzErrorTip="This field is required">
              <nz-form-label><strong>To be validated</strong>&nbsp;</nz-form-label>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col>
          <nz-form-control>
            <nz-radio-group formControlName="radioValidated">
              <label nz-radio nzValue="Y">Yes</label>
              <label nz-radio nzValue="N">No</label>
            </nz-radio-group>
          </nz-form-control>
        </div>
      </div>
      <div nz-row
      >
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-control>
              <nz-form-label><strong>To be accepted</strong>&nbsp;</nz-form-label>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col>
          <nz-form-control nzErrorTip="This field is required">
            <nz-radio-group formControlName="radioAccepted">
              <label nz-radio nzValue="Y">Yes</label>
              <label nz-radio nzValue="N">No</label>
            </nz-radio-group>
          </nz-form-control>
        </div>
      </div>
     <!-- <div nz-row>
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label >Progress</nz-form-label>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-control>
              <nz-progress [nzPercent]="percent"></nz-progress>
              <nz-button-group>
                <button nz-button (click)="decline()"><span nz-icon nzType="minus"></span></button>
                <button nz-button (click)="increase()"><span nz-icon nzType="plus"></span></button>
              </nz-button-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>-->
    </form>
  </ng-template>
</nz-modal>
