<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="this.etape.onClickHideModal()"
>
  <ng-template #modalTitle>Informations sur l'étape :</ng-template>

  <ng-template #modalContent>
    <form nz-form [formGroup]="etapeForm" >
      <div nz-row [nzGutter]="24"
           class="row"
      >
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label >Description</nz-form-label>
            <nz-form-control nzHasFeedback [nzErrorTip]="descriptionErrorTpl">
              <nz-textarea-count class="text-area">
                <textarea formControlName="description" nz-input rows="2" placeholder="Description..."></textarea>
                <ng-template #descriptionErrorTpl let-control>
                  @if (control.errors?.['required']) {
                    Veuillez remplir le champ de la description
                  }
                  @if (control.errors?.['maxlength']) {
                    Veuillez ne pas dépasser 255 caractères
                  }
                </ng-template>
              </nz-textarea-count>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="24" class="row">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label>Ordre</nz-form-label>
            <nz-form-control>
              <nz-input-number formControlName="ordre" [nzMin]="1" [nzStep]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label>Statut</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="statutEtape">
                <nz-option nzValue="Commencée" nzLabel="Commencée"></nz-option>
                <nz-option nzValue="Pas encore commencée" nzLabel="Pas encore commencée"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row class="row">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label >Durée Estimée&nbsp;<span>(Heures)&nbsp;</span></nz-form-label>
            <nz-form-control>
              <nz-input-number formControlName="dureeEstimee" [nzMin]="1" [nzStep]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col  [nzSpan]="12">
          <nz-form-item>
            <nz-form-label >Délai d'attente&nbsp;<span>(Heures)&nbsp;</span></nz-form-label>
            <nz-form-control>
              <nz-input-number formControlName="delaiAttente" [nzMin]="0" [nzStep]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row
           class="row"
      >
        <div nz-col
             [nzSpan]="6"
        >
          <nz-form-item>
            <nz-form-control>
              <label nz-checkbox formControlName="isFirst">Première</label>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col
             [nzSpan]="6"
        >
          <nz-form-item>
            <nz-form-control>
              <label nz-checkbox formControlName="isEnd">Dernière</label>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col
             [nzSpan]="6"
        >
          <nz-form-item>
            <nz-form-control>
              <label nz-checkbox formControlName="isValidate">Validée</label>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col
             [nzSpan]="6"
        >
          <nz-form-item>
            <nz-form-control>
              <label nz-checkbox formControlName="isPaid">Payée</label>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-control>
              <nz-progress [nzPercent]="percent"></nz-progress>
              <nz-button-group>
                <button nz-button (click)="decline()"><span nz-icon nzType="minus"></span></button>
                <button nz-button (click)="increase()"><span nz-icon nzType="plus"></span></button>
              </nz-button-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="validateForm()">Valider</button>
  </ng-template>
</nz-modal>
