<div
  *ngIf="isLoading"
  class="grid loading-spin">
  <nz-spin nzSimple></nz-spin>
</div>
<div class="grid"
     *ngIf="!isLoading && etapesRetrived"
     #grid>
  @for (row of arrayRows; let rowIndex = $index; track row){
    <div class="row">
      @for (col of arrayCols; let colIndex = $index; track col)
      {
        <div class="col"
        >
          <div *ngIf="mode==1"
            class="dot dot-left"
               [ngClass]="{'dot-hovered':isDotVisible(rowIndex,colIndex,3)  && isDotsVisible}"
               (click)="dotClicked(rowIndex,colIndex)"
          ></div>
          <app-cell
            [mode]="mode"
            [rowIndex]="rowIndex"
            [colIndex]="colIndex"
            [order]="getOrderByCell(rowIndex,colIndex)"
            [processItem]="processItems[rowIndex][colIndex]"
            (processItemCreated)="updateRefProcessItems($event)"
            (processItemDeleted)="deleteRefProcessItems($event)"
            (processItemDropped)="updateProcessItems($event)"
            (connectProcessItems)="connectProcessItems($event)"
            [onDotClicked]="onDotClickedCSS(rowIndex,colIndex)"
            (dblclick)="onCellClicked(rowIndex,colIndex)"
          ></app-cell>
          <div *ngIf="mode==1"
                class="dot dot-right"
               [ngClass]="{'dot-hovered':isDotVisible(rowIndex,colIndex,1)  && isDotsVisible}"
               (click)="dotClicked(rowIndex,colIndex)"
          ></div>
          <div *ngIf="mode==1"
            class="dot dot-top"
               [ngClass]="{'dot-hovered': isDotVisible(rowIndex,colIndex,0)  && isDotsVisible}"
               (click)="dotClicked(rowIndex,colIndex)"
          ></div>
          <div *ngIf="mode==1"
            class="dot dot-bottom"
               [ngClass]="{'dot-hovered': isDotVisible(rowIndex,colIndex,2)  && isDotsVisible}"
               (click)="dotClicked(rowIndex,colIndex)"
          ></div>
        </div>
      }
    </div>
  }
</div>
