.grid {
  margin: 10px 10px 10px 10px;
  min-width: 90%;
  width: 95%;
  height: 95%;
  overflow-x: auto;
  overflow-y: auto;
  background-color: #f2f2f2;

}

.loading-spin{
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: transparent;
  margin-top: 200px;
}

.cell {
  width: 100px;
  height: 100px;
  background: #1890ff;
}


.dot{
  position: relative;
  width: 11px;
  height: 11px;
  background-color: black;
  border-radius: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 5;
}

.dot-left{
  top: 46.5px;
  left: -5px;
}

.dot-right{
  left: 75px;
  top: -45.5px;
}

.dot-top{
  left: 34.5px;
  top: -95px;
}

.dot-bottom{
  left: 34.5px;
  top: -28px;
}

.dot-hovered{
  opacity: 1;
  cursor: pointer;
}

.row{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.col {
  margin-right: 50px;
  margin-bottom: 50px;
}

