<div class="grid" (scroll)="updateConnections()" #grid>
  @for (row of arrayRows; let rowIndex = $index; track row){
    <div class="row">
      @for (col of arrayCols; let colIndex = $index; track col)
      {
        <div class="col"
             [id]="'cell-'+rowIndex+'-'+colIndex"
        >
          <div class="dot-left"
               [ngClass]="{'dot-hovered': isDotLeftVisible(rowIndex, colIndex)}"
               (click)="dotClicked(rowIndex,colIndex)"
          ></div>
          <app-cell
            [rowIndex]="rowIndex"
            [colIndex]="colIndex"
            [processItem]="processItems[rowIndex][colIndex]"
            (processItemCreated)="updateRefProcessItems($event)"
            (processItemDeleted)="deleteRefProcessItems($event)"
          ></app-cell>
          <div class="dot-right"
               (mouseenter)="dotHovered(rowIndex,colIndex)"
               [ngClass]="{'dot-hovered': isDotRightVisible(rowIndex, colIndex)}"
          ></div>
        </div>
      }
    </div>
  }
</div>
