.grid {
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  background-color: #f2f2f2;

}

.loading-spin{
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: transparent;
  margin-top: 200px;
}

.dot{
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 5;
}

.dot-left{
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.dot-right{
  /*left: 75px;
  top: -45.5px;*/
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.dot-top{
  /*left: 34.5px;
  top: -95px;*/
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dot-bottom{
  /*left: 34.5px;
  top: -28px;*/
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.dot-hovered{
  opacity: 1;
  cursor: pointer;
}

.row{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.col {
  position: relative;
  margin-right: 50px;
  margin-bottom: 50px;
}

