<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzWidth]="800"
  [nzFooter]="modalFooter"
  (nzOnCancel)="onClickHideModal()"

>
  <ng-template #modalTitle>Task Payment :</ng-template>
  <ng-template #modalContent>
    <nz-row class="row" [nzAlign]="'middle'">
      <nz-col [nzSpan]="5">
        <nz-form-label><strong>Category</strong>&nbsp;</nz-form-label>
      </nz-col>
      <nz-col [nzSpan]="19">
        <span>{{subTask.etape?.categorie?.nom}}</span>
      </nz-col>
    </nz-row>
    <nz-row class="row">
      <nz-col [nzSpan]="5">
        <nz-form-label><strong>Description</strong>&nbsp;</nz-form-label>
      </nz-col>
      <nz-col [nzSpan]="19">
        <span>{{subTask.etape?.description}}</span>
      </nz-col>
    </nz-row>
    <nz-tabset nzCentered [nzSize]="'small'" [nzTabPosition]="'top'"  [nzCanDeactivate]="canDeactivate">
      <nz-tab nzTitle="Payment Informations" >
        <form nz-form [formGroup]="payementForm">
          <div nz-row class="row">
          <div nz-col [nzSpan]="7">
            <nz-form-item>
              <nz-form-label nzRequired><strong>Payment date</strong>&nbsp;</nz-form-label>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-control nzErrorTip="This field is required !">
                <nz-date-picker nzShowTime formControlName="datePaiement"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
            <div nz-col [nzSpan]="5" [nzOffset]="2">
              <nz-form-item>
                <nz-form-label nzRequired><strong>Status</strong>&nbsp;</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="4">
              <nz-form-item>
                <nz-form-control nzErrorTip="This field is required !">
                  <nz-select formControlName="statut">
                    <nz-option nzValue="COMPLETEE" nzLabel="Completed"></nz-option>
                    <nz-option nzValue="ANNULEE" nzLabel="Cancelled"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
        </div>
          <div nz-row class="row">
            <div nz-col [nzSpan]="5">
              <nz-form-item>
                <nz-form-label nzRequired><strong>Total to pay&nbsp;<span>(Dh)</span></strong>&nbsp;</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="4">
              <nz-form-item>
                <nz-form-control nzErrorTip="This field is required !">
                  <nz-input-number formControlName="total_a_payer" [nzMin]="0" [nzStep]="1"></nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="5">
              <nz-form-item>
                <nz-form-label nzRequired><strong>Amount paid&nbsp;<span>(Dh)</span></strong>&nbsp;</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="4">
              <nz-form-item>
                <nz-form-control nzErrorTip="This field is required !">
                  <nz-input-number formControlName="montant_payee" [nzMin]="0" [nzStep]="1"></nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="3">
              <nz-form-item>
                <nz-form-label  nzRequired><strong>Rest&nbsp;<span>(Dh)</span></strong>&nbsp;</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="2">
              <nz-form-item>
                <nz-form-control  [nzErrorTip]="restErrorTpl">
                  <nz-input-number formControlName="reste" [nzMin]="0" [nzStep]="1"></nz-input-number>
                  <ng-template #restErrorTpl let-control>
                    @if (control.errors?.['min']) {
                      Rest should be above 0
                    } @else {
                      This field is required !
                    }
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col [nzSpan]="4">
              <nz-form-item>
                <nz-form-label
                  nzRequired
                  nzTooltipTitle="Justification proof file as an image"
                ><strong>Justification</strong>&nbsp;</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="20">
              <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
                <button nz-button nzShape="circle" nzType="default">
                  <span nz-icon nzType="upload"></span>
                </button>
              </nz-upload>
            </div>
          </div>
        </form>
        <ng-template #modalFooter>
          <button nz-button nzType="primary" (click)="validateForm()">Confirm</button>
          <button nz-button nzType="default" (click)="onClickHideModal()">Cancel</button>
        </ng-template>
      </nz-tab>
      <nz-tab nzTitle="Payment History">
        <nz-table #basicTable [nzData]="paiementList"
                  [nzScroll]="{ y: 'calc(100vh - 50vh)' }"
                  [nzShowPagination]="true"
                  [nzFrontPagination]="true"
                  [nzLoading]="isLoading"
                  nzTableLayout="fixed"
                  [nzPaginationType]="'small'"
                  [nzPaginationPosition]="'bottom'"
                  [nzSize]="'small'"
                  [nzPageSize]="2"
        >
          <thead>
          <tr
          >
            <th [nzWidth]="'20%'">Payment date</th>
            <th [nzWidth]="'17%'">Total to pay (Dh)</th>
            <th [nzWidth]="'17%'">Amount paid (Dh)</th>
            <th [nzWidth]="'10%'">Rest (Dh)</th>
            <th [nzWidth]="'15%'">Status</th>
            <th [nzWidth]="'16%'">Justification</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td><strong>{{ data.datePaiement.toLocaleDateString()+' '+data.datePaiement.toLocaleTimeString() }}</strong></td>
            <td>{{ data.total_a_payer }}</td>
            <td>{{ data.montantPaye }}</td>
            <td>{{ data.reste }}</td>
            <td>@switch (data.etat){
              @case ("COMPLETEE"){
                <nz-badge nzSize="small" [nzText]="'Completed'" nzStatus="success"></nz-badge>
              }
              @case ("ANNULEE") {
                <nz-badge nzSize="small" [nzText]="'Cancelled'" nzStatus="error"></nz-badge>
              }
            }</td>
            <td>
              <button nz-button nzType="primary"  nzShape="circle" (click)="getJustificationImage(data.justification_url)"><span nz-icon nzType="file-image"></span></button>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="validateForm()" [disabled]="fileList.length==0">Confirm</button>
    <button nz-button nzType="default" (click)="onClickHideModal()">Cancel</button>
  </ng-template>
</nz-modal>
