<nz-card id="card"
         [nzActions]="[actionSetting, actionEdit, actionEllipsis,actionEllipsis2]"
         [nzBorderless]="false"
         [nzHoverable]="true"
>
  <div class="card-container">
    <svg width="50" height="50">
      <rect width="100%" height="100%" fill="black"   />
    </svg>
  </div>
</nz-card>

<ng-template #actionSetting>
  <span nz-icon nzType="setting" ></span>
</ng-template>
<ng-template #actionEdit>
  <span nz-icon nzType="edit"></span>
</ng-template>
<ng-template #actionEllipsis>
  <span nz-icon nzType="ellipsis"></span>
</ng-template>
<ng-template #actionEllipsis2>
  <span nz-icon nzType="ellipsis"></span>
</ng-template>

