<nz-card id="card"
         [nzBorderless]="false"
         [nzHoverable]="true"
         (click)="displayButtons()"
>
  <div class="card-container">
    <svg width="30" height="30">
      <rect width="100%" height="100%" fill="#246c71"   />
    </svg>
  </div>
</nz-card>

<div class="actions-container" *ngIf="showButtons">
  <ul class="actions">
   <!-- <li><span nz-icon nzType="setting"></span></li>
    <li><span nz-icon nzType="edit"></span></li>-->
    <li><span nz-icon nzType="info"
              (click)="onClickDisplayEditModal()"
              nz-tooltip
              nzTooltipTitle="Show informations"
    ></span></li>
    <li><span nz-icon nzType="delete"
              (click)="onClickDelete()"
              nz-tooltip
              nzTooltipTitle="Delete"
    ></span></li>
  </ul>
</div>

