<nz-card id="card"
         [nzBorderless]="false"
         [nzHoverable]="true"
         (click)="onClickDisplaySubTaskModal()"
>
  <div class="card-container">
    <svg
      class="shape" xmlns="http://www.w3.org/2000/svg" id="Capa_1" x="0" y="0" version="1.1" viewBox="0 0 497.502 497.502"><path d="M433.498.009H65.071A64.21 64.21 0 0 0 63.996 0C28.649.005 0 28.663.004 64.009v368.427c.117 35.887 29.18 64.95 65.067 65.067h368.427c35.469-.695 63.891-29.591 64-65.067V64.009c0-35.346-28.654-64-64-64z" fill="url(&quot;#SvgjsLinearGradient1037&quot;)"></path>
    </svg>
  </div>
</nz-card>

<div class="actions-container" *ngIf="showButtons">
  <ul class="actions" *ngIf="_mode===1">
    <!--<li><span nz-icon nzType="setting"></span></li>-->
    <li><span nz-icon nzType="node-index"
              (click)="onClickDisplayConnectionModal()"
              nz-tooltip
              nzTooltipTitle="Manage connections"
    ></span></li>
    <li><span nz-icon nzType="info"
              (click)="onClickDisplayEditModal()"
              nz-tooltip
              nzTooltipTitle="Show informations"
    ></span></li>
    <li><span nz-icon nzType="delete"
              (click)="onClickDelete()"
              nz-tooltip
              nzTooltipTitle="Delete"
    ></span></li>
  </ul>
  <ul class="status" *ngIf="_mode===2">
    @if (tache && tache.statutTache){
      @switch (tache.statutTache.toString()){
        @case ("EN_COURS"){
          <nz-badge class="badge" [nzCount]="iconCurrent">
          </nz-badge>
          <ng-template #iconCurrent>
            <span
              nz-tooltip
              nzTooltipTitle="Current"
              nz-icon nzType="loading" nzTheme="outline" style="color: #1890ff"></span>
          </ng-template>
        }
        @case ("EN_ATTENTE_DE_VALIDATION"){
          <nz-badge  class="badge" [nzCount]="iconWaitingValidation">
          </nz-badge>
          <ng-template #iconWaitingValidation>
            <span
              nz-tooltip
              nzTooltipTitle="Waiting for validation"
              nz-icon  nzType="exclamation-circle" nzTheme="fill" style="color: yellow"></span>
          </ng-template>
        }
        @case ("EN_ATTENTE_DU_DELAI"){
          <nz-badge  class="badge" [nzCount]="iconWaitingDelay">
          </nz-badge>
          <ng-template #iconWaitingDelay>
            <span
              nz-tooltip
              nzTooltipTitle="Waiting for delay"
              nz-icon  nzType="clock-circle" nzTheme="fill" style="color: gray"></span>
          </ng-template>
        }
        @case ("TERMINE"){
          <nz-badge  class="badge" [nzCount]="iconValid">
          </nz-badge>
          <ng-template #iconValid>
            <span
              nz-tooltip
              nzTooltipTitle="Done"
              nz-icon  nzType="check-circle" nzTheme="fill" style="color: #52c41a"></span>
          </ng-template>
        }
      }
    }
  </ul>
  <ul class="actions" *ngIf="_mode===2">
    <li *ngIf="tache?.etape?.validate"><span nz-icon nzType="check-circle"
                                             nz-tooltip
                                             nzTooltipTitle="Needs validation"
                                             (click)="onClickDisplayValidationModal()"
    ></span></li>
    <li *ngIf="tache?.etape?.paid"><span nz-icon nzType="dollar"
                                         nz-tooltip
                                         nzTooltipTitle="Needs payment"
                                         (click)="onClickDisplayPaymentModal()"
    ></span></li>
    <li *ngIf="tache?.etape?.accepted"><span nz-icon nzType="exclamation-circle"
                                             nz-tooltip
                                             nzTooltipTitle="Needs acceptance"
    ></span></li>
  </ul>
</div>
