<nz-card id="card"
         [nzBorderless]="false"
         [nzHoverable]="true"
         (click)="displayButtons()"
>
  <div class="card-container">
    <svg width="30" height="30">
      <rect width="100%" height="100%" fill="black" />
    </svg>
  </div>
</nz-card>

<div class="actions-container" *ngIf="showButtons">
  <ul class="actions">
    <li><span nz-icon nzType="setting"></span></li>
    <li><span nz-icon nzType="edit"></span></li>
    <li><span nz-icon nzType="ellipsis" style="font-size: 10px"></span></li>
    <li><span nz-icon nzType="delete" (click)="onClickDelete()"></span></li>
  </ul>
</div>
