<form nz-form [formGroup]="processForm">
  <div nz-row class="row">
    <div nz-col [nzSpan]="24">
        <nz-form-item>
        <div nz-col [nzSpan]="6">
          <nz-form-label nzRequired><strong>Name&nbsp;</strong></nz-form-label>
        </div>
        <div nz-col [nzSpan]="18">
          <nz-form-control nzHasFeedback [nzErrorTip]="nomErrorTpl">
            <input formControlName="nom" nz-input placeholder="Name..." type="text" />
            <ng-template #nomErrorTpl let-control>
              @if (control.errors?.['required']) {
                Please fill in the name field
              }
              @if (control.errors?.['maxlength']) {
                Please do not exceed 255 characters
              }
            </ng-template>
          </nz-form-control>
        </div>
        </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24">
      <nz-form-item>
      <div nz-col [nzSpan]="6">
        <nz-form-label nzRequired><strong>Description</strong>&nbsp;</nz-form-label>
      </div>
      <div nz-col [nzSpan]="18">
        <nz-form-control nzHasFeedback [nzErrorTip]="descriptionErrorTpl">
          <nz-textarea-count class="text-area">
            <textarea formControlName="description" nz-input rows="2" placeholder="Description..."></textarea>
            <ng-template #descriptionErrorTpl let-control>
              @if (control.errors?.['required']) {
                Please fill in the description field
              }
              @if (control.errors?.['maxlength']) {
                Please do not exceed 255 characters
              }
            </ng-template>
          </nz-textarea-count>
        </nz-form-control>
      </div>
      </nz-form-item>
    </div>
  </div>
</form>
