<form nz-form [formGroup]="etapeForm">
  <div class="row"
       nz-row
  >
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired><strong>Category</strong>&nbsp;</nz-form-label>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="18">
      <nz-form-item>
        <nz-form-control nzErrorTip="This field is required">
          <nz-select formControlName="categorie" nzShowSearch nzAllowClear nzPlaceHolder="Please select the category"
                     [nzLoading]="categories.length==0"
          >
            <nz-option *ngFor="let cat of categories" [nzValue]="cat.idCategorie" [nzLabel]="cat.nom"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired><strong>Description</strong>&nbsp;</nz-form-label>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="18">
      <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="descriptionErrorTpl">
          <nz-textarea-count class="text-area">
            <textarea formControlName="description" nz-input rows="2" placeholder="Description..."></textarea>
            <ng-template #descriptionErrorTpl let-control>
              @if (control.errors?.['required']) {
                Please fill in the description field
              }
              @if (control.errors?.['maxlength']) {
                Please do not exceed 255 characters
              }
            </ng-template>
          </nz-textarea-count>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col [nzSpan]="7">
      <nz-form-item>
        <nz-form-label nzRequired><strong>Estimated duration</strong>&nbsp;</nz-form-label>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="3">
        <nz-form-control nzErrorTip="This field is required">
          <nz-input-number formControlName="dureeEstimee" [nzMin]="0" [nzStep]="1"></nz-input-number>
        </nz-form-control>
    </div>
    <div nz-col [nzSpan]="12" [nzOffset]="2">
      <nz-form-control nzErrorTip="This field is required">
        <nz-radio-group formControlName="radioDureeEstimee">
          <label nz-radio nzValue="H">Hour<span>(s)</span></label>
          <label nz-radio nzValue="D">Day<span>(s)</span></label>
          <label nz-radio nzValue="M">Month<span>(s)</span></label>
        </nz-radio-group>
      </nz-form-control>
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label nzRequired><strong>Is this a</strong>&nbsp;</nz-form-label>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="16">
      <nz-form-control nzErrorTip="This field is required">
        <nz-radio-group formControlName="radioFIE">
          <label nz-radio nzValue="F">Initial</label>
          <label nz-radio nzValue="I">Intermediate</label>
          <label nz-radio nzValue="E">Final</label>
        </nz-radio-group>
      </nz-form-control>
    </div>
  </div>
  <div nz-row class="row"
  >
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label nzRequired><strong>To be paid</strong> </nz-form-label>
      </nz-form-item>
    </div>
    <div nz-col>
      <nz-form-control nzErrorTip="This field is required">
        <nz-radio-group formControlName="radioPaid">
          <label nz-radio nzValue="Y">Yes</label>
          <label nz-radio nzValue="N">No</label>
        </nz-radio-group>
      </nz-form-control>
    </div>
  </div>
  <div nz-row class="row"
  >
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-control>
          <nz-form-label nzRequired><strong>To be validated</strong> </nz-form-label>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col>
      <nz-form-control nzErrorTip="This field is required">
        <nz-radio-group formControlName="radioValidated">
          <label nz-radio nzValue="Y">Yes</label>
          <label nz-radio nzValue="N">No</label>
        </nz-radio-group>
      </nz-form-control>
    </div>
  </div>
  <div nz-row class="row"
  >
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-control>
          <nz-form-label nzRequired><strong>To be accepted</strong></nz-form-label>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col>
      <nz-form-control nzErrorTip="This field is required">
        <nz-radio-group formControlName="radioAccepted">
          <label nz-radio nzValue="Y">Yes</label>
          <label nz-radio nzValue="N">No</label>
        </nz-radio-group>
      </nz-form-control>
    </div>
  </div>

  <div class="row"
       nz-row
  >
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label><strong>Select steps to be before this step</strong>&nbsp;</nz-form-label>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-control>
          <nz-select formControlName="stepsBefore"
                     nzMode="multiple"
                     nzPlaceHolder="Select one step or more"
          >
            <nz-option *ngFor="let item of etapes"
                       nzCustomContent
                       [nzLabel]="item.categorie?.nom ?? ''"
                       [nzValue]="item.indexLigne+'-'+item.indexColonne"
            >
              <span nz-tooltip
                    nzTooltipTitle="{{item.description}}">
                 {{item.categorie?.nom ?? ''}}
              </span>
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div
       nz-row
  >
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label><strong>Select steps to be before this step</strong></nz-form-label>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-control>
          <nz-select formControlName="stepsAfter"
                     nzMode="multiple"
                     nzPlaceHolder="Select one step or more"

          >
            <nz-option *ngFor="let item of etapes"
                       nzCustomContent
                       [nzValue]="item.indexLigne+'-'+item.indexColonne"
                       [nzLabel]="item.categorie?.nom ?? ''"

            >
              <span nz-tooltip
                    nzTooltipTitle="{{item.description}}">
                {{item.categorie?.nom ?? ''}}
              </span>
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
