<div>
  <div
    *ngIf="isLoading"
    class="grid loading-spin">
    <nz-spin nzSimple></nz-spin>
  </div>
  <div class="container"
       *ngIf="!isLoading"
  >
    <div cdkDropList
         [cdkDropListData]="items"
         cdkDropListSortingDisabled
         class="list"
         nz-menu nzMode="inline"
    >
      <ul>
        <li nz-submenu
            nzTitle="Types d'étape"
            class="menu-title">
          <ul class="items-menu">
            @for (item of items; track item) {
              @switch (item._componentName)
              {
                @case ('square')
                {
                  <li>
                    <app-square cdkDrag></app-square>
                  </li>

                }
                @case ('rhombus')
                {
                  <li>
                    <app-rhombus cdkDrag></app-rhombus>
                  </li>
                }
                @case ('circle')
                {
                  <li>
                    <app-circle cdkDrag></app-circle>
                  </li>
                }
                @default {
                  <div class="box" cdkDrag><h6>{{item._componentName}}</h6></div>
                }
              }
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>

</div>
