<div class="cell"
     [id]="'cell-'+rowIndex+'-'+colIndex"
     cdkDropList
     cdkDropListSortingDisabled
     (cdkDropListDropped)="drop($event)"
     (click)="onClickCell()"
     [ngClass]="{
     'cell-selected' : onDotClicked && mode==1,
     'cell-first' : processItem?.first && !onDotClicked,
     'cell-end' : processItem?.end && !onDotClicked,
     'cell-done' : processItem?.tache?.statutTache === 'TERMINE'
     }"
>
  <div
    #container>

  </div>
  <ng-container *ngIf="processItem">
    <app-etape-display-modal
      *ngIf="mode==1"
      [etape]="processItem"
      [isVisible]="processItem.editModalIsVisibe"
    >
    </app-etape-display-modal>

    <app-connections-modal
      *ngIf="mode==1"
      [etape]="processItem"
      [isVisible]="processItem.connectionsModalIsVisibe"
    >
    </app-connections-modal>
    <app-sub-task-display-modal
      *ngIf="processItem.tache && mode == 2"
      [isVisible]="processItem.subTaskModalIsVisibe"
      [etape]="processItem"
      [subTask]="processItem.tache"
    >
    </app-sub-task-display-modal>
    <app-payment-modal
      *ngIf="processItem.tache && processItem.tache && mode == 2"
      [isVisible]="processItem.paymentModalIsVisible"
      [etape]="processItem"
      [subTask]="processItem.tache"
    >
      <app-validation-modal
        *ngIf="processItem.tache && mode == 2"
        [isVisible]="processItem.validationModalIsVisible"
        [etape]="processItem"
        [subTask]="processItem.tache"
      >
      </app-validation-modal>
    </app-payment-modal>
  </ng-container>
</div>
