<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a *ngIf="!isCollapsed"
        href="https://ng.ant.design/" target="_blank">
        <img src="assets/logoSiteExplorer.png"
             alt="logo">
      </a>
    </div>
    <ul class="menu" nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Workflows" nzIcon="dashboard">
        <ul class="menu">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Dashboard</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="processus">Workflow Management</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Categories Management</a>
          </li>
        </ul>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="unordered-list"></span>
        <span>Tasks Management</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
