<nz-modal
  [(nzVisible)]="isVisible"
  (nzOnCancel)="onClickHideModal()"
  (nzOnOk)="validateForm()"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzWidth]="800"
>
  <ng-template #modalTitle>Task Validation :</ng-template>
  <ng-template #modalContent>
    <nz-row class="row" [nzAlign]="'middle'">
      <nz-col [nzSpan]="5">
        <nz-form-label><strong>Category</strong>&nbsp;</nz-form-label>
      </nz-col>
      <nz-col [nzSpan]="19">
        <span>{{subTask.etape?.categorie?.nom}}</span>
      </nz-col>
    </nz-row>
    <nz-row class="row">
      <nz-col [nzSpan]="5">
        <nz-form-label><strong>Description</strong>&nbsp;</nz-form-label>
      </nz-col>
      <nz-col [nzSpan]="19">
        <span>{{subTask.etape?.description}}</span>
      </nz-col>
    </nz-row>
    <nz-tabset nzCentered [nzSize]="'small'" [nzTabPosition]="'top'" (nzSelectChange)="currentIndex($event)">
      <nz-tab [nzTitle]="titleTemplate1" >
        <ng-template #titleTemplate1>
          <span nz-icon nzType="file-done"></span>
          {{ 'Validation Informations' }}
        </ng-template>
        <form nz-form [formGroup]="validationForm">
          <div nz-row class="row">
            <div nz-col [nzSpan]="5">
              <nz-form-item>
                <nz-form-label nzRequired><strong>Validation date</strong>&nbsp;</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="7">
              <nz-form-item>
                <nz-form-control nzErrorTip="This field is required">
                  <nz-date-picker nzShowTime formControlName="dateValidation"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="4" [nzOffset]="4">
              <nz-form-item>
                <nz-form-label nzRequired><strong>Status</strong>&nbsp;</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="4">
              <nz-form-item>
                <nz-form-control nzErrorTip="This field is required">
                  <nz-select formControlName="statut">
                    <nz-option nzValue="VALIDEE" nzLabel="Valid"></nz-option>
                    <nz-option nzValue="NON_VALIDEE" nzLabel="Invalid"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-control nzHasFeedback [nzErrorTip]="commentaireErrorTpl">
                <nz-textarea-count class="text-area">
                  <textarea formControlName="commentaire" nz-input rows="2" placeholder="Comment..."></textarea>
                  <ng-template #commentaireErrorTpl let-control>
                    @if (control.errors?.['required']) {
                      Please fill in the description field
                    }
                    @if (control.errors?.['maxlength']) {
                      Please do not exceed 255 characters
                    }
                  </ng-template>
                </nz-textarea-count>
              </nz-form-control>
            </nz-form-item>
          </div>
        </form>
      </nz-tab>
      <nz-tab [nzTitle]="titleTemplate2">
        <ng-template #titleTemplate2>
          <span nz-icon nzType="history"></span>
          {{ 'Validation History' }}
        </ng-template>
        <nz-table #basicTable [nzData]="validationList"
                  [nzScroll]="{ y: 'calc(100vh - 50vh)' }"
                  [nzShowPagination]="true"
                  [nzFrontPagination]="true"
                  [nzLoading]="isLoading"
                  nzTableLayout="fixed"
                  [nzPaginationType]="'small'"
                  [nzPaginationPosition]="'bottom'"
                  [nzSize]="'small'"
                  [nzPageSize]="2"
        >
          <thead>
          <tr
          >
            <th [nzWidth]="'20%'">Validation date</th>
            <th [nzWidth]="'20%'">Responsible</th>
            <th [nzWidth]="'10%'">Status</th>
            <th>Comment</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.dateValidation.toLocaleDateString()+' '+data.dateValidation.toLocaleTimeString() }}</td>
            <td>{{ data.responsable.nom+' '+data.responsable.prenom }}</td>
            <td>
              @switch (data.etat){
                @case ("VALIDEE"){
                  <nz-badge nzSize="small" [nzText]="'Valid'" nzStatus="success"></nz-badge>
                }
                @case ("NON_VALIDEE") {
                  <nz-badge nzSize="small" [nzText]="'Invalid'" nzStatus="error"></nz-badge>
                }
              }
            </td>
            <td>{{ data.commentaire}}</td>
          </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </ng-template>
</nz-modal>
