<nz-card id="card"
         [nzBorderless]="false"
         [nzHoverable]="true"
         (click)="displayButtons()"
>
  <div class="card-container">
    <svg width="30" height="30" >
      <circle cx="15" cy="15" r="15" fill="black" />
    </svg>
  </div>
</nz-card>

<div class="actions-container" *ngIf="showButtons">
  <ul class="actions">
    <li><span nz-icon nzType="setting"></span></li>
    <li><span nz-icon nzType="edit"></span></li>
    <li><span nz-icon nzType="ellipsis" style="font-size: 10px"></span></li>
    <li><span nz-icon nzType="delete" (click)="onClickDelete()"></span></li>
  </ul>
</div>


<ng-template #actionDelete>
  <span nz-icon nzType="delete"
        (click)="onClickDelete()"
  ></span>
</ng-template>

