<nz-card id="card"
         [nzBorderless]="false"
         [nzHoverable]="true"
         (click)="displayButtons()"
>
  <div class="card-container">
    <svg class="shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
      <path fill="url(#paint0_linear_104_157)" d="M100 200c55.228 0 100-44.772 100-100S155.228 0 100 0 0 44.772 0 100s44.772 100 100 100Zm0-56.25c24.162 0 43.75-19.588 43.75-43.75S124.162 56.25 100 56.25 56.25 75.838 56.25 100s19.588 43.75 43.75 43.75Z" clip-rule="evenodd"/>
    </svg>
  </div>
</nz-card>

<div class="actions-container" *ngIf="showButtons">
  <ul class="actions" *ngIf="_mode===1">
    <!--<li><span nz-icon nzType="setting"></span></li>-->
    <li><span nz-icon nzType="node-index"
              (click)="onClickDisplayConnectionModal()"
              nz-tooltip
              nzTooltipTitle="Manage connections"
    ></span></li>
    <li><span nz-icon nzType="info"
              (click)="onClickDisplayEditModal()"
              nz-tooltip
              nzTooltipTitle="Show informations"
    ></span></li>
    <li><span nz-icon nzType="delete"
              (click)="onClickDelete()"
              nz-tooltip
              nzTooltipTitle="Delete"
    ></span></li>
  </ul>
  <ul class="status" *ngIf="_mode===2">
    @if (tache && tache.statutTache){
      @switch (tache.statutTache.toString()){
        @case ("EN_COURS"){
          <nz-badge class="badge" [nzCount]="iconCurrent">
          </nz-badge>
          <ng-template #iconCurrent>
            <span
              nz-tooltip
              nzTooltipTitle="Current"
              nz-icon nzType="loading" nzTheme="outline" style="color: #1890ff"></span>
          </ng-template>
        }
        @case ("EN_ATTENTE_DE_VALIDATION"){
          <nz-badge  class="badge" [nzCount]="iconWaitingValidation">
          </nz-badge>
          <ng-template #iconWaitingValidation>
            <span
              nz-tooltip
              nzTooltipTitle="Waiting for validation"
              nz-icon  nzType="exclamation-circle" nzTheme="fill" style="color: yellow"></span>
          </ng-template>
        }
        @case ("EN_ATTENTE_DU_DELAI"){
          <nz-badge  class="badge" [nzCount]="iconWaitingDelay">
          </nz-badge>
          <ng-template #iconWaitingDelay>
            <span
              nz-tooltip
              nzTooltipTitle="Waiting for delay"
              nz-icon  nzType="clock-circle" nzTheme="fill" style="color: gray"></span>
          </ng-template>
        }
        @case ("TERMINE"){
          <nz-badge  class="badge" [nzCount]="iconValid">
          </nz-badge>
          <ng-template #iconValid>
            <span
              nz-tooltip
              nzTooltipTitle="Done"
              nz-icon  nzType="check-circle" nzTheme="fill" style="color: #52c41a"></span>
          </ng-template>
        }
      }
    }
  </ul>
</div>

